.controlBarContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: #f6f4ee;
}
.leftWrapper{
    display: flex;
    align-items: center;
    color: #7a7a7a;
    font-size: 2rem;
}
.rightWrapper{
    display: flex;
    justify-content: right;
    align-items: center;
}
.currentSort{
    width:150px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
    z-index:10;
}
.arrows {
    box-sizing: border-box;
    position: absolute;
    right:15px;
    top: 12.5px;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 16px
}
.arrows::after,
.arrows::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    background: currentColor;
    border-radius: 4px
}
.arrows::before {
    height: 6px;
    transform: rotate(45deg);
    box-shadow: 7px -4px 0;
    top: 4px;
    left: 2px
}
.arrows::after {
    height: 12px;
    box-shadow: -4px 4px 0;
    right: 4px;
    bottom: 4px
}
.dropdown{
    width: 150px;
    position: absolute;
    top: 92%;
    left: -1px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #cbcbcb;
    border-top: none;
    background: #f6f4ee;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem 1.5rem;
}
.dropdown label{
    width:100%;
    cursor: pointer;
    color: #414141;
    margin-top: 1rem;

}
.dropdown label:hover{
    opacity: .8;
    background: rgba(0,0,0,.15);
    transition: color .25s ease-out,background .25s ease-out,opacity .25s ease-out;
    color: black;
}
.toggleCardDisplay{
    display: flex;
    margin-left: 3rem;
    list-style: none;
    border-radius: 5px;
}
.toggleCardDisplay li {
    border-radius: 5px;
    margin-right: .5rem;
}
.toggleCardDisplay i {
    border: 1px solid #cbcbcb;
    padding: .25em .39em;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 5px;
}
.selected {
    background-color: rgb(216, 215, 215);
}
@media only screen and (max-width: 450px) {
    .controlBarContainer{
        padding: 1rem 1rem 1.5rem 1rem;
    }
}