.card-detail-main{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.card-detail-img{
    display: flex;
    flex-direction: column;
}
.card-detail-img a{
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: large;
}
.card-detail-img a:hover{
    color: #e68123;
}
.card-detail-info{
    display: flex;
    flex-direction: column;
    margin-left: 5.5rem;
    width: 50%;
}
.detail-head{
    display: flex;
    width:160px;
    letter-spacing: 2px;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: .5rem;
}
.set{
    width: 30px;
}
.have{
    padding:.75rem;
    margin-left: 1rem;
    border-left: 1px solid #cbcbcb;
    font-weight: 600;
    font-size: 1.3rem;
    height: 100%;
}
.name{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 0 5px 15px rgba(0,0,0,.15);
}
.type{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.oracle-text{
    margin-bottom: 20px;
    max-width: 380px;
    font-size: 1.5rem;
}
.flavor-text{
    font-family: "Times New Roman",Times,serif;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    opacity: .6;
    max-width: 380px;
}
#card_detail{
    display: flex;
    flex-direction: column;
}
.version-header{
    position: relative;
    padding-left: 2.5rem;
    margin: 4rem 0 2rem 0;
}
.version-header h3{
    position: relative;
    z-index: 2;
    background: #f9fbfc;
    width: 118px;
    font-size: 2rem;
}
.version-header::after {
    position: absolute;
    content: '';
    z-index: 1;
    bottom: 50%;
    margin-bottom: -2px;
    height: 2px;
    left: 0;
    right: 0;
    background: #373d47;
}
.versions-container{
    display: flex;
    flex-wrap: wrap;
    margin:0 1rem;
}
.versions-container a{
    text-decoration: none;
    color:black;
    width: 25%;
    min-width: 275px;}
.item{
    display: flex;

    border-radius: 7px;
    padding:1rem;
    margin:0 .75rem 3rem 1.5rem ;
    box-shadow:3px 3px 5px 6px #ccc;
}  
.item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-name{
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}
.item-set{
    font-size: 1.1rem;
}
.item-artist{
    font-weight: bold;
    margin-top: 100%;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .card-detail-img{
        margin-left: 2.5rem;
    }
    .version-header{
        margin: 4rem 1rem 2rem 1rem;
    }
}
@media only screen and (max-width: 450px) {
    .card-detail-main{
        justify-content: center;
    }
    .card-detail-img{
        margin-left: 0;
    }
    .oracle-text, .flavor-text{
        padding-right: 2rem;
    }
    .card-detail-info{
        width: 100%;
    }
    .card-detail-img{
        margin-bottom: 2.5rem;
    }
    .name{
        font-size: 3.75rem;
        margin-top: 1rem;
    }
}