.card-detail-main{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.card-detail-info{
    display: flex;
    flex-direction: column;
    margin-left: 5.5rem;
    width: 50%;
}
.detail-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:12.5rem;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    border-bottom: 1px solid #cbcbcb
}
.set{
    padding: 0 3px 0 0px;
    border-right: 1px solid #cbcbcb;
    width: 30px;
}
.have{
    padding-right: 10px;
}
.name{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 5px 15px rgba(0,0,0,.15);
}
.type{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
}
.oracle-text{
    margin-bottom: 20px;
    max-width: 380px;
    line-height: 22px;
}
.flavor-text{
    font-family: "Times New Roman",Times,serif;
    font-style: italic;
    margin-bottom: 10px;
    opacity: .6;
    max-width: 380px;
}
#card_detail{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 1100px) {
    .card-detail-img{
        margin-left: 2.5rem;
    }
}
@media only screen and (max-width: 450px) {
    .card-detail-main{
        justify-content: center;
    }
    .card-detail-img{
        margin-left: 0;
    }
    .oracle-text, .flavor-text{
        padding-right: 2rem;
    }
    .card-detail-info{
        width: 100%;
    }
    .card-detail-img{
        margin-bottom: 2.5rem;
    }
    .name{
        font-size: 3.75rem;
    }
}