*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
html{
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  background-color: #f9fbfc;  
}
#overlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 100; 
}
a:hover{
  color: #e68123;
}
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 1.5rem;
  background-color: black;
  z-index: 999;
}
nav {
  width: 100%;
  height: 8rem;
  padding: .5rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 400;
}
/* logo */
.logo {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo i{
  font-size: 4rem;
  margin: auto;
}
/* navigation menu */
.nav-list {
  display: flex;
  list-style: none;
  margin-left: 5%;
}
.nav-item{
  position: relative;
  line-height: 8rem;
}
.nav-item::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #e68123;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav-item:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
.nav-item:hover .mega-menu{
  display:flex;
}
.nav-links {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
}
.mega-menu{
  background-color: rgba(0,0,0,0.97);
  position: fixed;
  top: 7.7rem;
  left: 0;
  width:100%;
  display: none;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
  margin: 0;
  border-top-width: 3px;
  border-top-color: #e68123;
  border-top-style: solid;
}
.mega-menu .sets-item{
  display: flex;
  align-items: center;
  justify-items: space-between;
  min-height:7rem;
  margin:0 .5rem
}
.nav-sets-svg{
  width:25px;
  margin-right: 2rem;
  filter: invert(57%) sepia(92%) saturate(1423%) hue-rotate(346deg) brightness(94%) contrast(90%);
}
.sets-item a{
  color: white;
  text-decoration: none;
  line-height: normal;
  display: inline-block;
  font-size: 1.4rem;
}
.mega-menu a:hover{
  color: #e68123;
}
/* search bar pluis user nav */
#searchbar{
  width: 25%;
}
.site-user {
  display: flex;
  align-items: center;
  height:100%;
}
.site-user a{
  text-decoration: none;
  font-size: 1.5rem;
}
#user-image{
  display: flex;
  align-items: center;
  height: 100%;
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.login-link {
  margin-right: 1rem;
  font-size: .85rem;
  color: #fff;
}
.login-link:hover {
  color: #e68123;
}
/* user drop down menu  */
.user-submenu {
  position: fixed;
  right: 0;
  top:8rem;
  bottom: 0;
  right: -270px;
  width: 270px;
  background-color: black;
  z-index: 50;
  display: flex;
  transition: transform .25s ease-in-out;
  border-top: #e68123 2px solid;
  
}
.user-submenu div a{
  font-size: 1rem;
  padding: .5rem 1rem;
  display: inline-block;
  width: 100%;
  color: #fff;
}
.user-submenu div a:hover{
color: #e68123;
}
/* mobile view burger */
#burger{
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  line-height: 5rem;
  z-index: 500;
  display: none;
}
#burger .bars {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  display: block;
  right: 0;

}
#burger .bars:nth-child(1) {
  top: 0;
}
#burger .bars:nth-child(2) {
  top:50%;
  margin-top: -1px;
}
#burger .bars:nth-child(3) {
  top:100%;
  margin-top: -2px;
}
/* responsive menu */
#responsive-menu{
  position: fixed;
  left:0;
  top:11.8rem;
  bottom: 0;
  left: -270px;
  width: 270px;
  z-index: 50;
  background: black;
  transition: transform .25s ease-in-out;
  border-top: #e68123 2px solid;
  display:none;
}
.menu-ul{
  display:flex;
  flex-direction: column;
}
.menu-ul a{
  text-decoration: none;
  color: #fff;
  font-size: large;
  font-weight: 600;
  padding: 1.5rem 5rem 1.5rem 3.5rem;
  border-bottom: 1.5px solid #1a1a1a;
}
.menu-ul li{
  display:flex;
}
.logout{
  text-decoration: none;
  color: #fff;
  font-size: large;
  font-weight: 500;
  padding: 1.5rem 5rem 1.5rem 3.5rem;
  background-color: black;
  border: none;
  border-bottom: 1.5px solid #1a1a1a;
  cursor: pointer;
}
.btn{
font-size: 1rem;
text-shadow: none;
display: inline-block;
padding: .75rem 1.75rem;
margin: 0 1.5rem 0 0;
border-radius: 4px;
border: 3px solid transparent;
background: #e68123;
color: white;
cursor: pointer;
text-decoration: none ;
text-align: center;
}
.btn:hover{
  color: #fff;
  background: #fa9435;

}
/* main body */
.main-content {
  padding-top: 75px;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  position: relative;
  margin-top: 1rem;
}
.visible{
  transform: translateX(-270px);
}
.visible-burger-menu{
  transform: translateX(270px);
}
@media only screen and (max-width: 768px) {
  #responsive-menu{
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  body {
    margin-top: 6rem;
  }
  nav{
    height: 12rem;
    flex-wrap: wrap;
    justify-items: start;
  }
  .nav-list {
    display:none;
  }
  .logo{
    order: 2;
    height: 6rem;
  }
  .site-user{
    display: none;
  }
  #burger{
    display: flex;
    order: 1;
  }
  #searchbar{
    order: 5;
    margin:0 auto 1rem auto;
    width: 100%;
  }
  .container{
    border-bottom: #e68123 2px solid;
  }
  #responsive-menu{
    display: flex;
    flex-direction: column;
  }
}